[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyyaml = "*"
flask = "*"
bottle = "*"
tornado = "*"
sanic = "*"
aiohttp = "*"


[dev-packages]

pytest = "*"
ipython = "*"
webtest = "*"
twine = "*"
